{{!-- <div id="preloader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div> --}}

<div id="main-wrapper">
    <!--Nav header end-->
	<div class="nav-header">
		<a href="/" class="brand-logo">
			<div class="column">
				<img class="logo-abbr" width="auto" height="50%" src="images/logo.png" />
			</div>
		</a>
		<div class="nav-control">
			<div class="hamburger">
				<span class="line"></span><span class="line"></span><span class="line"></span>
			</div>
		</div>
	</div>
	<!--Nav header end-->

    <!--Header start-->
    <div class="header">
        <div class="header-content">
            <nav class="navbar navbar-expand">
                <div class="collapse navbar-collapse justify-content-between">
                    <div class="header-left">
                        <div class="headaer-title">
                            <h1 class="font-w600 mb-0">Bài viết</h1>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!--Header end ti-comment-alt-->

    <!--Sidebar start-->
    <div class="deznav">
        <div class="deznav-scroll">
            <ul class="metismenu" id="menu">
                <li><a class="has-arrow " href="/" aria-expanded="false">
                        <i class="flaticon-025-dashboard"></i>
                        <span class="nav-text">Thống kê</span>
                    </a>
                </li>
                <li><a class="has-arrow " href="/listUser" aria-expanded="false">
                        <i class="flaticon-006-brightness"></i>
                        <span class="nav-text">Tài khoản</span>
                    </a>
                </li>
                <li><a class="has-arrow " href="/tours" aria-expanded="false">
                        <i class="flaticon-017-clipboard"></i>
                        <span class="nav-text">Chuyến du lịch</span>
                    </a>
                </li>
                <li><a class="has-arrow " href="/event" aria-expanded="false">
                        <i class="flaticon-086-star"></i>
                        <span class="nav-text">Sự kiện</span>
                    </a>
                </li>
                <li><a class="has-arrow " href="/blogs" aria-expanded="false">
                        <i class="flaticon-022-copy"></i>
                        <span class="nav-text">Bài viết</span>
                    </a>
                </li>
				<li><a class="has-arrow " href="/login" aria-expanded="false">
                        <i class="flaticon-061-outside"></i>
                        <span class="nav-text">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--Sidebar end-->

    <!--Content body start-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="mt-3 mt-sm-0 d-inline-block d-sm-flex align-items-center justify-content-between mb-5">
                    <div class="coin-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active " id="all-status-tab" data-bs-toggle="tab"
                                    data-bs-target="#all-status" type="button" role="tab" aria-controls="all-status"
                                    aria-selected="true">Tất cả</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="published-tab" data-bs-toggle="tab"
                                    data-bs-target="#published" type="button" role="tab" aria-controls="published"
                                    aria-selected="false">Công khai</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="archived-tab" data-bs-toggle="tab"
                                    data-bs-target="#archived" type="button" role="tab" aria-controls="archived"
                                    aria-selected="false">Đã ẩn</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all-status" role="tabpanel"
                        aria-labelledby="all-status-tab">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3">
                                        <div class="review-bx d-flex align-items-center">
                                            <div class="review-img">
                                                <img src="images/review-img/pic-1.jpg" alt="images">
                                            </div>
                                            <div class="review-content">
                                                <h2 class="font-w500">Zain Torff</h2>
                                            </div>
                                        </div>
                                        <p class="review-date font-w400">Tuesday, January 24th 2021 at 2:56 AM</p>
                                    </div>
                                    <div class="col-xl-9 col-lg-9">
                                        <div class="description-bx d-inline-block d-sm-flex align-items-center">
                                            <div class="description-content">
                                                {{!-- Tiêu đề --}}
                                                <h3 class="font-w500">I love that room service</h3>
                                                {{!-- Nội dung --}}
                                                <p class=" sub-title font-w400 lh-2">We were totally refreshed and
                                                    rejuvenated for the whole of next year and it was due to the
                                                    relaxing stay at the hotel. The hotel is absolutely marvelous! We
                                                    liked absolutely everything, starting from the breakfast through to
                                                    the perfect room service including the cleanliness and extra
                                                    services such as dry cleaning and laundry. In general all the staff
                                                    at the hotel were professional, friendly and provided excellent
                                                    service. We will return for sure</p>
                                                <div class="row mb-3">
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/event-card-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div
                                                    class="d-inline-block d-xl-flex align-items-center justify-content-between">
                                                    <div class="button-bx mt-2 mt-xl-0">
                                                        <button class="btn btn-success">
                                                            Accept
                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM8.7898 14.5484L4.4107 10.1694L6.06781 8.51227L8.86648 11.3109L14.485 6.20344L16.062 7.93723L8.7898 14.5484Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                        <button class="btn btn-primary ms-sm-3 ms-0">
                                                            Reject

                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM14.9719 13.3148L13.3148 14.9719L10 11.6571L6.68523 14.9719L5.02812 13.3148L8.34289 10L5.02812 6.68523L6.68523 5.02812L10 8.34289L13.3148 5.02812L14.9719 6.68523L11.6571 10L14.9719 13.3148Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3">
                                        <div class="review-bx d-flex align-items-center">
                                            <div class="review-img">
                                                <img src="images/review-img/pic-1.jpg" alt="images">
                                            </div>
                                            <div class="review-content">
                                                <h2 class="font-w500">Zain Torff</h2>
                                            </div>
                                        </div>
                                        <p class="review-date font-w400">Tuesday, January 24th 2021 at 2:56 AM</p>
                                    </div>
                                    <div class="col-xl-9 col-lg-9">
                                        <div class="description-bx d-inline-block d-sm-flex align-items-center">
                                            <div class="description-content">
                                                {{!-- Tiêu đề --}}
                                                <h3 class="font-w500">I love that room service</h3>
                                                {{!-- Nội dung --}}
                                                <p class=" sub-title font-w400 lh-2">We were totally refreshed and
                                                    rejuvenated for the whole of next year and it was due to the
                                                    relaxing stay at the hotel. The hotel is absolutely marvelous! We
                                                    liked absolutely everything, starting from the breakfast through to
                                                    the perfect room service including the cleanliness and extra
                                                    services such as dry cleaning and laundry. In general all the staff
                                                    at the hotel were professional, friendly and provided excellent
                                                    service. We will return for sure</p>
                                                <div class="row mb-3">
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/event-card-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div
                                                    class="d-inline-block d-xl-flex align-items-center justify-content-between">
                                                    <div class="button-bx mt-2 mt-xl-0">
                                                        <button class="btn btn-success">
                                                            Accept
                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM8.7898 14.5484L4.4107 10.1694L6.06781 8.51227L8.86648 11.3109L14.485 6.20344L16.062 7.93723L8.7898 14.5484Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                        <button class="btn btn-primary ms-sm-3 ms-0">
                                                            Reject

                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM14.9719 13.3148L13.3148 14.9719L10 11.6571L6.68523 14.9719L5.02812 13.3148L8.34289 10L5.02812 6.68523L6.68523 5.02812L10 8.34289L13.3148 5.02812L14.9719 6.68523L11.6571 10L14.9719 13.3148Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3">
                                        <div class="review-bx d-flex align-items-center">
                                            <div class="review-img">
                                                <img src="images/review-img/pic-1.jpg" alt="images">
                                            </div>
                                            <div class="review-content">
                                                <h2 class="font-w500">Zain Torff</h2>
                                            </div>
                                        </div>
                                        <p class="review-date font-w400">Tuesday, January 24th 2021 at 2:56 AM</p>
                                    </div>
                                    <div class="col-xl-9 col-lg-9">
                                        <div class="description-bx d-inline-block d-sm-flex align-items-center">
                                            <div class="description-content">
                                                {{!-- Tiêu đề --}}
                                                <h3 class="font-w500">I love that room service</h3>
                                                {{!-- Nội dung --}}
                                                <p class=" sub-title font-w400 lh-2">We were totally refreshed and
                                                    rejuvenated for the whole of next year and it was due to the
                                                    relaxing stay at the hotel. The hotel is absolutely marvelous! We
                                                    liked absolutely everything, starting from the breakfast through to
                                                    the perfect room service including the cleanliness and extra
                                                    services such as dry cleaning and laundry. In general all the staff
                                                    at the hotel were professional, friendly and provided excellent
                                                    service. We will return for sure</p>
                                                <div class="row mb-3">
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/event-card-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div
                                                    class="d-inline-block d-xl-flex align-items-center justify-content-between">
                                                    <div class="button-bx mt-2 mt-xl-0">
                                                        <button class="btn btn-success">
                                                            Accept
                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM8.7898 14.5484L4.4107 10.1694L6.06781 8.51227L8.86648 11.3109L14.485 6.20344L16.062 7.93723L8.7898 14.5484Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                        <button class="btn btn-primary ms-sm-3 ms-0">
                                                            Reject

                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM14.9719 13.3148L13.3148 14.9719L10 11.6571L6.68523 14.9719L5.02812 13.3148L8.34289 10L5.02812 6.68523L6.68523 5.02812L10 8.34289L13.3148 5.02812L14.9719 6.68523L11.6571 10L14.9719 13.3148Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="published" role="tabpanel" aria-labelledby="published-tab">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3">
                                        <div class="review-bx d-flex align-items-center">
                                            <div class="review-img">
                                                <img src="images/review-img/pic-1.jpg" alt="images">
                                            </div>
                                            <div class="review-content">
                                                <h2 class="font-w500">Zain Torff</h2>
                                            </div>
                                        </div>
                                        <p class="review-date font-w400">Tuesday, January 24th 2021 at 2:56 AM</p>
                                    </div>
                                    <div class="col-xl-9 col-lg-9">
                                        <div class="description-bx d-inline-block d-sm-flex align-items-center">
                                            <div class="description-content">
                                                {{!-- Tiêu đề --}}
                                                <h3 class="font-w500">I love that room service</h3>
                                                {{!-- Nội dung --}}
                                                <p class=" sub-title font-w400 lh-2">We were totally refreshed and
                                                    rejuvenated for the whole of next year and it was due to the
                                                    relaxing stay at the hotel. The hotel is absolutely marvelous! We
                                                    liked absolutely everything, starting from the breakfast through to
                                                    the perfect room service including the cleanliness and extra
                                                    services such as dry cleaning and laundry. In general all the staff
                                                    at the hotel were professional, friendly and provided excellent
                                                    service. We will return for sure</p>
                                                <div class="row mb-3">
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/event-card-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div
                                                    class="d-inline-block d-xl-flex align-items-center justify-content-between">
                                                    <div class="button-bx mt-2 mt-xl-0">
                                                        <button class="btn btn-success">
                                                            Accept
                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM8.7898 14.5484L4.4107 10.1694L6.06781 8.51227L8.86648 11.3109L14.485 6.20344L16.062 7.93723L8.7898 14.5484Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                        <button class="btn btn-primary ms-sm-3 ms-0">
                                                            Reject

                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM14.9719 13.3148L13.3148 14.9719L10 11.6571L6.68523 14.9719L5.02812 13.3148L8.34289 10L5.02812 6.68523L6.68523 5.02812L10 8.34289L13.3148 5.02812L14.9719 6.68523L11.6571 10L14.9719 13.3148Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3">
                                        <div class="review-bx d-flex align-items-center">
                                            <div class="review-img">
                                                <img src="images/review-img/pic-1.jpg" alt="images">
                                            </div>
                                            <div class="review-content">
                                                <h2 class="font-w500">Zain Torff</h2>
                                            </div>
                                        </div>
                                        <p class="review-date font-w400">Tuesday, January 24th 2021 at 2:56 AM</p>
                                    </div>
                                    <div class="col-xl-9 col-lg-9">
                                        <div class="description-bx d-inline-block d-sm-flex align-items-center">
                                            <div class="description-content">
                                                {{!-- Tiêu đề --}}
                                                <h3 class="font-w500">I love that room service</h3>
                                                {{!-- Nội dung --}}
                                                <p class=" sub-title font-w400 lh-2">We were totally refreshed and
                                                    rejuvenated for the whole of next year and it was due to the
                                                    relaxing stay at the hotel. The hotel is absolutely marvelous! We
                                                    liked absolutely everything, starting from the breakfast through to
                                                    the perfect room service including the cleanliness and extra
                                                    services such as dry cleaning and laundry. In general all the staff
                                                    at the hotel were professional, friendly and provided excellent
                                                    service. We will return for sure</p>
                                                <div class="row mb-3">
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/event-card-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div
                                                    class="d-inline-block d-xl-flex align-items-center justify-content-between">
                                                    <div class="button-bx mt-2 mt-xl-0">
                                                        <button class="btn btn-success">
                                                            Accept
                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM8.7898 14.5484L4.4107 10.1694L6.06781 8.51227L8.86648 11.3109L14.485 6.20344L16.062 7.93723L8.7898 14.5484Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                        <button class="btn btn-primary ms-sm-3 ms-0">
                                                            Reject

                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM14.9719 13.3148L13.3148 14.9719L10 11.6571L6.68523 14.9719L5.02812 13.3148L8.34289 10L5.02812 6.68523L6.68523 5.02812L10 8.34289L13.3148 5.02812L14.9719 6.68523L11.6571 10L14.9719 13.3148Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="archived" role="tabpanel" aria-labelledby="archived-tab">
                        
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3">
                                        <div class="review-bx d-flex align-items-center">
                                            <div class="review-img">
                                                <img src="images/review-img/pic-1.jpg" alt="images">
                                            </div>
                                            <div class="review-content">
                                                <h2 class="font-w500">Zain Torff</h2>
                                            </div>
                                        </div>
                                        <p class="review-date font-w400">Tuesday, January 24th 2021 at 2:56 AM</p>
                                    </div>
                                    <div class="col-xl-9 col-lg-9">
                                        <div class="description-bx d-inline-block d-sm-flex align-items-center">
                                            <div class="description-content">
                                                {{!-- Tiêu đề --}}
                                                <h3 class="font-w500">I love that room service</h3>
                                                {{!-- Nội dung --}}
                                                <p class=" sub-title font-w400 lh-2">We were totally refreshed and
                                                    rejuvenated for the whole of next year and it was due to the
                                                    relaxing stay at the hotel. The hotel is absolutely marvelous! We
                                                    liked absolutely everything, starting from the breakfast through to
                                                    the perfect room service including the cleanliness and extra
                                                    services such as dry cleaning and laundry. In general all the staff
                                                    at the hotel were professional, friendly and provided excellent
                                                    service. We will return for sure</p>
                                                <div class="row mb-3">
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/event-card-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div
                                                    class="d-inline-block d-xl-flex align-items-center justify-content-between">
                                                    <div class="button-bx mt-2 mt-xl-0">
                                                        <button class="btn btn-success">
                                                            Accept
                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM8.7898 14.5484L4.4107 10.1694L6.06781 8.51227L8.86648 11.3109L14.485 6.20344L16.062 7.93723L8.7898 14.5484Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                        <button class="btn btn-primary ms-sm-3 ms-0">
                                                            Reject

                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM14.9719 13.3148L13.3148 14.9719L10 11.6571L6.68523 14.9719L5.02812 13.3148L8.34289 10L5.02812 6.68523L6.68523 5.02812L10 8.34289L13.3148 5.02812L14.9719 6.68523L11.6571 10L14.9719 13.3148Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3">
                                        <div class="review-bx d-flex align-items-center">
                                            <div class="review-img">
                                                <img src="images/review-img/pic-1.jpg" alt="images">
                                            </div>
                                            <div class="review-content">
                                                <h2 class="font-w500">Zain Torff</h2>
                                            </div>
                                        </div>
                                        <p class="review-date font-w400">Tuesday, January 24th 2021 at 2:56 AM</p>
                                    </div>
                                    <div class="col-xl-9 col-lg-9">
                                        <div class="description-bx d-inline-block d-sm-flex align-items-center">
                                            <div class="description-content">
                                                {{!-- Tiêu đề --}}
                                                <h3 class="font-w500">I love that room service</h3>
                                                {{!-- Nội dung --}}
                                                <p class=" sub-title font-w400 lh-2">We were totally refreshed and
                                                    rejuvenated for the whole of next year and it was due to the
                                                    relaxing stay at the hotel. The hotel is absolutely marvelous! We
                                                    liked absolutely everything, starting from the breakfast through to
                                                    the perfect room service including the cleanliness and extra
                                                    services such as dry cleaning and laundry. In general all the staff
                                                    at the hotel were professional, friendly and provided excellent
                                                    service. We will return for sure</p>
                                                <div class="row mb-3">
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/review-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                    <div
                                                        class="col-sm-3 h-auto mb-3">
                                                        <img width="100%" height="auto" src="images/event-card-img/pic-1.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div
                                                    class="d-inline-block d-xl-flex align-items-center justify-content-between">
                                                    <div class="button-bx mt-2 mt-xl-0">
                                                        <button class="btn btn-success">
                                                            Accept
                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM8.7898 14.5484L4.4107 10.1694L6.06781 8.51227L8.86648 11.3109L14.485 6.20344L16.062 7.93723L8.7898 14.5484Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                        <button class="btn btn-primary ms-sm-3 ms-0">
                                                            Reject

                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10 0C4.50742 0 0 4.50742 0 10C0 15.4926 4.50742 20 10 20C15.4926 20 20 15.4926 20 10C20 4.50742 15.4926 0 10 0ZM14.9719 13.3148L13.3148 14.9719L10 11.6571L6.68523 14.9719L5.02812 13.3148L8.34289 10L5.02812 6.68523L6.68523 5.02812L10 8.34289L13.3148 5.02812L14.9719 6.68523L11.6571 10L14.9719 13.3148Z"
                                                                    fill="white" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="d-flex align-items-center justify-content-between flex-wrap">
                <div class="mb-sm-0 mb-3">
                    <h5 class="mb-0">Showing 5 of 102 Data</h5>
                </div>
                <nav>
                    <ul class="pagination pagination-gutter pagination-primary style-1">
                        <li class="page-item page-indicator job-search-page">
                            <a class="page-link" href="javascript:void(0)">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">4</a>
                        </li>
                        <li class="page-item page-indicator job-search-page">
                            <a class="page-link" href="javascript:void(0)">Next</a>
                        </li>
                    </ul>
                </nav>
            </div> --}}
        </div>
    </div>
</div>