<div id="demo">nội dung ví dụ</div>

<button onclick="add_child()">KẾT QUẢ</button>

{{!-- <div class="card-body col-sm-12 border-0 pb-0">
    <span>Ngày 2</span> <br>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
</div> --}}

<script>
    function add_child() {

        //tạo phần tử div 1    
        var di1 = document.createElement("div");

        //tạo phần tử span
        var span = document.createElement("span");

        //tạo phần tử br
        var br = document.createElement("br");

        //tạo phần tử textarea
        var textarea = document.createElement("textarea");

        {{!-- var text = document.createTextNode("1") --}}

        //gắn node vào p
        {{!-- span.appendChild(text); --}}
        di1.appendChild(span);
        di1.appendChild(br);
        di1.appendChild(textarea);

        //Thay đổi một số thuộc tính của p
        {
            {
                !--p.appendChild(node);
                p.style.backgroundColor = 'red';
                p.style.padding = "10px";
                p.style.color = "white"; --}
        }

        var div = document.getElementById("demo");
        //gắn p vào div
        div.appendChild(di1);
    }
</script>